body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #ffffff;
  color: white;
  padding: 1rem 2rem;
}
.text h2 
{
    color: #000;
}
.text p
{
    color: #000;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.hero {
  text-align: center;
  padding: 4rem 2rem;
  background: linear-gradient(to right, #2563eb, #1e3a8a);
  color: white;
}

.btn {
  background: white;
  color: #2563eb;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
}

#services .card-container {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  justify-content: center;
}

.card {
  background: #f3f4f6;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  margin: auto;
}
